<!-- Six -->
					<section class="wrapper style1 align-center">
						<div class="inner">
							<h2>Ipsum sed consequat</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum.</p>
							<div class="items style1 medium onscroll-fade-in">
								{% for icon in page.header.icons %}
								<section>
									<span class="icon style2 major fa-{{icon.icons }}"></span>
									<h3>{{ icon.headline }}</h3>
									<p>{{ icon.icontext }}</p>
								</section>
								{% endfor %}
								
							</div>
						</div>
					</section>

