<!-- Two -->
<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
	<div class="content">
		<h2>{{ page.title }}</h2>
		{{ page.content }}
		<ul class="actions vertical">
			<li><a href="#second" class="button  big wide  smooth-scroll-middle">Learn More</a></li>
		</ul>
	</div>
	<div class="image">
		{{ page.media[header.spotlight_img].cropZoom(1440,900) }}
	</div>
</section>
