// Modal Window
.portfolio-modal .close-modal {
    position: absolute;
    top: 1rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;
}

.modal {
    display: none;
    opacity: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: white;
    text-align: center;
    &.in {
        opacity: 1;
    }
    .client-details {
        list-style: none;
        padding-left: 0;
        margin-left: 0;
        li {
            display: block;
            padding-left: 0;
            strong {
                color: green;
                font-weight: normal;
            }
        }
    }
}

.modal-content {
    margin: 3rem auto 0;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    .modal-body {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding-bottom: 1rem;
        width: 95%;
    }
    .image {
        height: 25rem;
    }
    .image,
    .project-description {
        width: 50%;
        border-radius: 0;
    }
    .project-description {
        padding: 1rem;
        text-align: left;
    }
    .modal-footer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 95%;
        padding-bottom: 2rem; // button {
        //     width: 100%;
        // }
    }
    img {
        width: 100%;
        border-radius: 0;
    }
}

@include breakpoint(xlarge) {
    .modal-content {
        .modal-body {
            width: 80%;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            margin-top: 3rem;
        }
        .modal-footer {
            width: 80%;
        }
        .image {
            width: 50%;
            height: 35rem;
        }
        .project-description {
            width: 50%;
            padding-left: 1rem;
        }
    }
}

@include breakpoint(large) {
    .modal-content {
        margin-top: 3rem;
        .image {
            height: 30rem;
        }
    }
}

@include breakpoint(medium) {
    .modal-content {
        margin-top: 5rem;
        .modal-body {
            margin-top: 0;
            flex-flow: column nowrap;
        }
        .image,
        .project-description {
            width: 100%;
        }
        .image {
            height: 25rem;
        }
        .project-description {
            padding-left: 1rem;
        }
    }
}

@include breakpoint(small) {
    .modal-content {
        .modal-body {
            margin-top: 0;
            width: 95%;
        }
        .modal-footer {
            width: 95%;
        }
        .image {
            width: 90%;
            height: 20rem;
        }
        .project-description {
            width: 90%;
            padding-left: 0;
        }
        .client-details {
            width: 90%;
        }
    }
}

@include breakpoint(xsmall) {
    .modal-content {
        .modal-body {}
        .image,
        .client-details,
        .project-description {
            width: 95%;
        }
    }
}